logs/*.log
coverage/
.nyc_output/
!.gitignore
node_modules
.settings/
**/*.svn
*.svn
*.map
*.swp
*.sublime-project
*.sublime-workspace
.DS_Store
.idea/*
tmp/
.env
datalogs/*.log
.coverrun
.vscode
.coverdata/
build/*
npm-debug.log
package-lock.json
version.conf
custom
